<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1">
    <title>财上海</title>
</header>
<body>
<div>
    <strong><%=blogs.length%></strong>
    <ul>
        <%for(var i in blogs){if(!blogs[i].content)continue;%>
        <li>
            <div>
                <span><%=blogs[i].date%></span>
                <div><%=blogs[i].content%></div>
        </li>
        <%}%>
    </ul>
</div>
</body>
</html>


